<form action="/upload" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
        <div class="form-file custom-file">
            <input class="form-control" type="file" id="formFile" name="image" multiple>
            <label class="form-file-label" for="image">
            </label>
        </div>
    </div>
    <button type="submit" class="btn btn-success">Upload</button>
</form>